@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: var(--font-inter), var(--font-kantumruy-pro), Arial, sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #e0e0e0;
}

a:visited {
  color: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}
